:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.top-navigation {
  height: max-content;
  min-width: min-content;
}
.side-drawer {
  min-width: min-content;
  min-height: 0;
  max-width: 320px;
  flex-shrink: 0;
}
.main-view-container {
  overflow: auto;
  position: relative;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
}
.navbar-content {
  gap: 1rem;
}
.h6 {
  margin: 0;
}
.row-layout {
  display: flex;
}
.shell-body-layout {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
