<div class="row-layout learn-container">
  <div class="column-layout learn-core">
    <div class="column-layout page-title">
      <h3 class="title-np-8krl">
        Learn in Your Dialect
      </h3>
      <p class="text-nii-5-4g">
        Explore foundational lessons with interactive illustrations, native voice pronunciations, and offline sync support.
      </p>
    </div>
    <div class="row-layout dialect-filters">
      <igx-select type="box" placeholder="Santali (Ol Chiki)" class="select-7j-0pb">
        <igx-select-item value="1">
          Santali (Ol Chiki)
        </igx-select-item>
        <igx-select-item value="2">
          Mundari (Bani Hisir)
        </igx-select-item>
        <igx-select-item value="3">
          Ho (Warang Chiti)
        </igx-select-item>
        <igx-select-item value="4">
          Kurukh (Tolong Siki)
        </igx-select-item>
        <igx-select-item value="5">
          Khortha / Nagpuri
        </igx-select-item>
        <label igxLabel>Select Dialect / Mother Tongue</label>
      </igx-select>
      <igx-buttongroup class="button-group-b-1tnfw">
        <button igxButton>
          <igx-icon>
            add
          </igx-icon>
          <span>All Lessons</span>
        </button>
        <button igxButton>
          <igx-icon>
            add
          </igx-icon>
          <span>Alphabets</span>
        </button>
        <button igxButton>
          <igx-icon>
            add
          </igx-icon>
          <span>Numbers</span>
        </button>
        <button igxButton>
          <igx-icon>
            add
          </igx-icon>
          <span>Vocabulary</span>
        </button>
      </igx-buttongroup>
    </div>
    <div class="row-layout lessons-grid">
      <igx-card class="santali-alphabets">
        <igx-card-media height="200px">
          <img src="https://picsum.photos/320/200?random=11" alt="" class="image" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Santali Ol Chiki
          </h3>
          <h5 igxCardHeaderSubtitle>
            Foundational Alphabets
          </h5>
        </igx-card-header>
        <igx-card-content>
          <div class="column-layout column-layout-iox-5us">
            <p class="ig-typography__body-2 text-t-7-0x-1">
              Learn the primary sounds and scripts of Ol Chiki. Includes audio guidance.
            </p>
            <div class="row-layout card-stats">
              <igx-badge type="success" value="Offline Cached" class="badge-e-5r-4-9u"></igx-badge>
              <p class="ig-typography__caption text-t-7-0x-1">
                24 letters
              </p>
            </div>
          </div>
        </igx-card-content>
        <igx-card-actions>
          <ng-container igxStart>
            <button igxButton="contained" type="button" class="button-0s-0uyf">
              <igx-icon class="icon">
                volume_up
              </igx-icon>
              <span>Play Audio</span>
            </button>
          </ng-container>
          <ng-container igxEnd>
            <button igxIconButton="flat">
              <igx-icon>
                favorite
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card class="santali-alphabets">
        <igx-card-media height="200px">
          <img src="/assets/simple-colorful-cartoon-illust-e8ef786d5f4b.png" alt="" class="image" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Mundari Numbers
          </h3>
          <h5 igxCardHeaderSubtitle>
            Learn 1 to 10
          </h5>
        </igx-card-header>
        <igx-card-content>
          <div class="column-layout column-layout-iox-5us">
            <p class="ig-typography__body-2 text-t-7-0x-1">
              Counting from 1 to 10 in Mundari language with audio pronunciation mapping.
            </p>
            <div class="row-layout card-stats">
              <igx-badge type="success" value="Offline Cached" class="badge-e-5r-4-9u"></igx-badge>
              <p class="ig-typography__caption text-t-7-0x-1">
                10 Lessons
              </p>
            </div>
          </div>
        </igx-card-content>
        <igx-card-actions>
          <ng-container igxStart>
            <button igxButton="contained" type="button" class="button-0s-0uyf">
              <igx-icon class="icon">
                volume_up
              </igx-icon>
              <span>Play Audio</span>
            </button>
          </ng-container>
          <ng-container igxEnd>
            <button igxIconButton="flat">
              <igx-icon>
                favorite
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card class="santali-alphabets">
        <igx-card-media height="200px">
          <img src="/assets/cute-children-cartoon-illustra-d1f2438a8873.png" alt="" class="image" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Animals in Ho
          </h3>
          <h5 igxCardHeaderSubtitle>
            Wild &amp; Domestic
          </h5>
        </igx-card-header>
        <igx-card-content>
          <div class="column-layout column-layout-iox-5us">
            <p class="ig-typography__body-2 text-t-7-0x-1">
              Identify animals like elephants, cows and deer in the local Ho dialect script.
            </p>
            <div class="row-layout card-stats">
              <igx-badge type="success" value="Offline Cached" class="badge-e-5r-4-9u"></igx-badge>
              <p class="ig-typography__caption text-t-7-0x-1">
                15 Terms
              </p>
            </div>
          </div>
        </igx-card-content>
        <igx-card-actions>
          <ng-container igxStart>
            <button igxButton="contained" type="button" class="button-0s-0uyf">
              <igx-icon class="icon">
                volume_up
              </igx-icon>
              <span>Play Audio</span>
            </button>
          </ng-container>
          <ng-container igxEnd>
            <button igxIconButton="flat">
              <igx-icon>
                favorite
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card class="santali-alphabets">
        <igx-card-media height="200px">
          <img src="/assets/two-happy-cartoon-indian-schoo-8748854fc24e.png" alt="" class="image" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Kurukh Greetings
          </h3>
          <h5 igxCardHeaderSubtitle>
            Social Manners
          </h5>
        </igx-card-header>
        <igx-card-content>
          <div class="column-layout column-layout-iox-5us">
            <p class="ig-typography__body-2 text-t-7-0x-1">
              Essential greetings like 'Johar', 'Namaste' and local conversational cues.
            </p>
            <div class="row-layout card-stats">
              <igx-badge type="success" value="Offline Cached" class="badge-e-5r-4-9u"></igx-badge>
              <p class="ig-typography__caption text-t-7-0x-1">
                8 phrases
              </p>
            </div>
          </div>
        </igx-card-content>
        <igx-card-actions>
          <ng-container igxStart>
            <button igxButton="contained" type="button" class="button-0s-0uyf">
              <igx-icon class="icon">
                volume_up
              </igx-icon>
              <span>Play Audio</span>
            </button>
          </ng-container>
          <ng-container igxEnd>
            <button igxIconButton="flat">
              <igx-icon>
                favorite
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card class="santali-alphabets">
        <igx-card-media height="200px">
          <img src="/assets/colorful-blobs-of-paint-with-p-d36e257cf6c1.png" alt="" class="image" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Colors in Nagpuri
          </h3>
          <h5 igxCardHeaderSubtitle>
            Vibrant Shades
          </h5>
        </igx-card-header>
        <igx-card-content>
          <div class="column-layout column-layout-iox-5us">
            <p class="ig-typography__body-2 text-t-7-0x-1">
              Identify red, yellow, green, and blue in regional Nagpuri dialects.
            </p>
            <div class="row-layout card-stats">
              <igx-badge type="success" value="Offline Cached" class="badge-e-5r-4-9u"></igx-badge>
              <p class="ig-typography__caption text-t-7-0x-1">
                12 colors
              </p>
            </div>
          </div>
        </igx-card-content>
        <igx-card-actions>
          <ng-container igxStart>
            <button igxButton="contained" type="button" class="button-0s-0uyf">
              <igx-icon class="icon">
                volume_up
              </igx-icon>
              <span>Play Audio</span>
            </button>
          </ng-container>
          <ng-container igxEnd>
            <button igxIconButton="flat">
              <igx-icon>
                favorite
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card class="santali-alphabets">
        <igx-card-media height="200px">
          <img src="/assets/beautiful-vibrant-cartoon-illu-258736edf0d9.png" alt="" class="image" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Our Environment
          </h3>
          <h5 igxCardHeaderSubtitle>
            Trees &amp; Forests
          </h5>
        </igx-card-header>
        <igx-card-content>
          <div class="column-layout column-layout-iox-5us">
            <p class="ig-typography__body-2 text-t-7-0x-1">
              Learn terms for local rivers, hills, Sal trees and resources in Kharia language.
            </p>
            <div class="row-layout card-stats">
              <igx-badge type="success" value="Offline Cached" class="badge-e-5r-4-9u"></igx-badge>
              <p class="ig-typography__caption text-t-7-0x-1">
                18 Terms
              </p>
            </div>
          </div>
        </igx-card-content>
        <igx-card-actions>
          <ng-container igxStart>
            <button igxButton="contained" type="button" class="button-0s-0uyf">
              <igx-icon class="icon">
                volume_up
              </igx-icon>
              <span>Play Audio</span>
            </button>
          </ng-container>
          <ng-container igxEnd>
            <button igxIconButton="flat">
              <igx-icon>
                favorite
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
    </div>
  </div>
</div>
